pandas
datetime

wget
xmltodict
regex
pytest-shutil
dict2xml
saagieapi
boto3
jsonschema
lxml
xmlschema
tqdm
pypdl
psycopg2-binary
numpy

requests
selenium
scikit-learn
scipy
matplotlib
folium
geopy
openpyxl
pytest
argparse 
python-stdnum
xlrd
