pandas==2.3.3

datetime

wget
xmltodict
regex
pytest-shutil
dict2xml
saagieapi
boto3
jsonschema
lxml
xmlschema
tqdm
pypdl
psycopg2-binary
numpy

requests
selenium
openpyxl
pytest
argparse 
xlrd
python-stdnum