pandas==2.3.3

wget
xmltodict
regex
pytest-shutil
dict2xml
saagieapi
boto3
jsonschema
lxml
xmlschema
tqdm
pypdl
psycopg2-binary
numpy

requests
selenium
openpyxl
pytest
xlrd
python-stdnum
SQLAlchemy
python-dotenv
python-dateutil

# FastAPI
fastapi
uvicorn
plotly
